/*
Checked = dark theme
Unchecked = light theme
*/


.theme-switcher-wrapper {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.theme-switcher-wrapper input[type="checkbox"] {
    appearance: none;
    position: relative;
}

.theme-switcher-wrapper input[type="checkbox"]::before {
    content: "🌙";
    font-size: 1.7rem;
    cursor: pointer;

    top: -2.3rem;
    right: .2rem;
    position: absolute;
}

.theme-switcher-wrapper input[type="checkbox"]:checked::before {
    content: "☀️";
}
