@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Mono', monospace;

  background: var(--bg-color);
  color: var(--text-color);

  text-align: center;
  text-rendering: optimizeLegibility;

  transition: .4s;
}

#light-theme,
:root {
  --bg-color: rgb(91, 57, 168);
  --text-color: rgb(255, 255, 255);
}

#dark-theme,
:root:has(#theme-switcher:checked) {
  --bg-color: rgb(25, 11, 59);
  --text-color: rgb(91, 57, 168);
}
